* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* regole di debug */

/*.colonna-logo {
    background-color: #DAA520;
}

.colonna-menu {
    background-color: #DAA520;

}

.colonna-login {
    background-color: #DAA520;
}
.content {
    background-color: #EE82EE;  
}

.header-bottom.border {
    border: solid 1px red;
    background-color: #255EE9;
}
.colonna-full {
    background-color: green;
}

.big {
    background-color: #1E90FF;
}

.small {
    background-color: #FFC0CB;
}

.colonna1 {
    background-color: #F08080;
}
.colonna-big {
    background-color: #F08080;
}
.colonna-small {
    background-color: #20B2AA;
}

*/


.border {
    border: solid 1px red;
}





/* regole di CSS */


body {
    font-family: sans-serif;
}

header {
    background-color: #255EE9;
}

.container {
    max-width: 1170px;
    margin: auto;
}


.topbar {
    display: flex;
    height: 100px;
    width: 1170px;
    margin: auto;
    padding: 20px 0px;
    color: white;
}

.colonna-logo {
    width: 20%;
    padding: 20px 0px;
}

.colonna-menu {
    width: 60%;
    padding: 20px 0px;

}

.colonna-login {
    width: 20%;
    padding: 20px 0px;

}

.topbar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.topbar li {
    padding: 0px 15px;
}

.button {
    padding: 10px 15px;
    background-color: white;
    border-color: #255EE9;
    border-radius: 30px;
    color: black;
}

.header-bottom {
    height: 480px;
    padding: 50px 0px;
    /*display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap*/
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;

}

.content {
    height: 100%;
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

/* display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;*/

.content>* {
    margin-bottom: 50px;
    /* display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;*/
}

.content span {
    margin: 0px 10px;
}

.button-due {
    padding: 10px 15px;
    background-color: black;
    border-radius: 30px;
    color: white;
}

.button-uno {
    padding: 10px 15px;
    background-color: white;
    border-radius: 30px;
    color: black;
}

.section-container {
    height: 520px;
    max-width: 1170px;
    display: flex;
    margin: 10px auto;
}


.big {
    width: 60%;
    background-image: url(../img/item1.svg);
    background-size: 100%;
    background-repeat: no-repeat;

}

.small {
    width: 40%;
    padding: 30px 50px;
}

.section-grey {
    background-color: #F6F6F6;
}

.small-grey {
    width: 40%;
    padding: 30px 50px;
}

.big-grey {
    width: 60%;
    background-image: url(../img/item2.svg);
    background-size: 100%;
    background-repeat: no-repeat;

}

.big-terza {
    width: 60%;
    background-image: url(../img/item3.svg);
    background-size: 100%;
    background-repeat: no-repeat;

}

.colonna-full {
    width: 100%;
    color: black;
    text-align: center;
    padding: 50px;
}

/*.sezione {
    height: 400px;
   /* display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}*/

.last-section-container {
    height: 700px;
    max-width: 1170px;
    display: flex;
    margin: 10px auto;
}

section {
    padding-top: 20px;
}

.button-tre {
    padding: 10px 15px;
    background-color: #7289DA;
    border-radius: 30px;
    color: white;
}

#immagine {
    height: 50%;
    width: 50%;
    background-image: url(../img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
}

footer {
    padding: 20px 0px;
}

.footer-top {
    display: flex;
    background-color: #23272A;
    height: 500px;
    width: 1170px;
    margin: auto;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}

/*  align-content: center;
    justify-content: center;
    flex-wrap: wrap;*/

.colonna-big {
    height: 90%;
    width: calc(70% / 6 * 2);

}

.colonna-small {
    height: 90%;
    width: calc(70% / 6);
}

/*
.colonna3 {
    background-color: #20B2AA;
    height: 90%;
    width: calc(70% / 6);
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.colonna4 {
    background-color: #20B2AA;
    height: 90%;
    width: calc(70% / 6);
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.colonna5 {
    background-color: #20B2AA;
    height: 90%;
    width: calc(70% / 6);
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}*/

/*
.colonna-footer-small {
    background-color: #20B2AA;
    height: 90%;
    width: calc(70% / 6);
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
*/
.colonna-big img {
    height: 15px;
    padding-right: 5px;
}

.colonna-big h1 {
    color: #7289DA;
}

.colonna-big .bandiera {
    color: white;
}

.loghi {
    font-size: 25px;
    color: white;
}

.colonna-big>* {
    padding: 10px;
}

.colonna-small>* {
    padding: 10px;
}

.colonna-small h2 {
    color: #7289DA;
}

.colonna-small {
    color: white;
}

.colonna-small li {
    list-style-type: none;
    padding: 10px 0px;
}



.footer-bottom {
    display: flex;
    background-color: #23272A;
    height: 50px;
    align-content: center;
    justify-content: space-between;
    /*border: solid white 1px;*/
    flex-wrap: wrap;
}

.ultimo {
    background-color: #FFB6C1;
    height: 80%;
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px;
    align-content: center;
    justify-content: center;
}


























/*.nav {
    display: flex;
    background-color: #DAA520;
    height: 30px;
    align-content: center;
    flex-wrap: wrap;
}

.nav.primo {
    width: 20%;
    justify-content: flex-start;

}

.nav.secondo {
    width: 60%;
    justify-content: center;

}

.nav.terzo {
    width: 20%;
    justify-content: flex-end;

}*/



/*
.sezione.seconda {
    background-color: #D3D3D3;
    flex-direction: row-reverse;
}

.sezione.terza {
    background-color: white;
}

.sezione.quarta {
    background-color: #D3D3D3;
    height: 800px;
}

.centrale {
    background-color: #228B22;
    height: 80%;
    width: 70%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}
*/