* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* regole di debug */

/*.colonna-logo {
    background-color: #DAA520;
}

.colonna-menu {
    background-color: #DAA520;

}

.colonna-login {
    background-color: #DAA520;
}*/

.header-bottom.border {
    border: solid 1px red;
    background-color: #255EE9;
    
}

.content {
    background-color: #EE82EE;
    
}





/* regole di CSS */


body {
    font-family: sans-serif;
}

header {
    background-color: #255EE9;
}

.container {
    max-width: 1170px;
    margin: auto;
}


.topbar {
    display: flex;
    height: 100px;
    width: 1170px;
    margin: auto;
    padding: 20px 0px;
    color: white;
}

.colonna-logo {
    width: 20%;
    padding: 20px 0px;
}

.colonna-menu {
    width: 60%;
    padding: 20px 0px;

}

.colonna-login {
    width: 20%;
    padding: 20px 0px;

}

.topbar ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.topbar li {
    padding: 0px 15px;
}

.button {
    padding: 10px 15px;
    background-color: white;
    border-color: #255EE9;
    border-radius: 30px;
    color: black;
}

.header-bottom {
    height: 590px;
    padding: 50px 0px;
    /*display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap*/
    color:white;


    background-image: url(../img/jumbo.png);
    margin: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.content {
    height: 100%;
    width: 50%;
    margin: auto;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}



/*.nav {
    display: flex;
    background-color: #DAA520;
    height: 30px;
    align-content: center;
    flex-wrap: wrap;
}

.nav.primo {
    width: 20%;
    justify-content: flex-start;

}

.nav.secondo {
    width: 60%;
    justify-content: center;

}

.nav.terzo {
    width: 20%;
    justify-content: flex-end;

}*/


.sezione {
    display: flex;
    height: 400px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sezione.prima {
    background-color: white;
}

.sinistro {
    background-color: #1E90FF;
    height: 80%;
    width: 40%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.destro {
    background-color: #FFC0CB;
    height: 80%;
    width: 30%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.sezione.seconda {
    background-color: #D3D3D3;
    flex-direction: row-reverse;
}

.sezione.terza {
    background-color: white;
}

.sezione.quarta {
    background-color: #D3D3D3;
    height: 800px;
}

.centrale {
    background-color: #228B22;
    height: 80%;
    width: 70%;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer-top {
    display: flex;
    background-color: #23272A;
    height: 500px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.colonna1 {
    background-color: #F08080;
    height: 90%;
    width: calc(70% / 6 * 2);
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.colonna2 {
    background-color: #20B2AA;
    height: 90%;
    width: calc(70% / 6);
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.colonna3 {
    background-color: #20B2AA;
    height: 90%;
    width: calc(70% / 6);
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.colonna4 {
    background-color: #20B2AA;
    height: 90%;
    width: calc(70% / 6);
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.colonna5 {
    background-color: #20B2AA;
    height: 90%;
    width: calc(70% / 6);
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.footer-bottom {
    display: flex;
    background-color: #23272A;
    height: 50px;
    align-content: center;
    justify-content: space-between;
    border: solid white 1px;
    flex-wrap: wrap;
}

.ultimo {
    background-color: #FFB6C1;
    height: 80%;
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px;
    align-content: center;
    justify-content: center;
}

/*